<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    我们自己编写的配置文件也不能自动识别， 想让Spring配置文件生效，需要用ImportSource 加载起来-->
    <bean id="helloService" class="com.springboot.basic.service.HelloService"></bean>
</beans>