<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
        body {
            height: 100vh;
        }
    </style>


</head>
<body>
<!--引入公共抽取页面topbar-->
<!--模板名 会使用thymleaf配置规则-->
<div th:replace="~{commons/bar::topbar}"></div>
<div class="container-fluid">
    <div class="row">
        <!--        引入侧边栏-->
        <!--        处理模板名：：fragmen以外还可以模板名::#id-->
        <div th:replace="commons/bar::#sidebar(activeUri='user')"></div>
        <!--        注意只是二合一界面 当点击add user不应当显示回显；如果点击edit后应当显示回显-->
        <!--        在点击edit后，应该考虑将user info回显-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!--注意这里表单<form>只能定义post/get如果定义put/delete等需要进行一下操作-->
            <!--1. SpringMVC中配置HiddenHttpMethodFilter; (SpringBoot自动配置)-->
            <!--2. 页面创建一个post表单-->
            <!--3. 创建一个input项，name="_method" 值就是我们的指定方式-->
            <form th:action="${usrinfo!=null}?'/edit':'/user'" method="post">
                <!--添加put method 以下方法可以建立一个fake PUT 请求-->
<!--                <input type="hidden" name="_method" value="put" th:if="${usrinfo!=null}">-->
                <input type="hidden" name="id" th:if="${usrinfo!=null}" th:value="${usrinfo.id}"/>
                <div class="form-group">
                    <label for="exampleFormControlInput1">User name</label>
                    <input name="username" type="text" class="form-control" id="exampleFormControlInput2" placeholder="star"
                           th:value="${usrinfo!=null}?${usrinfo.username}" style="width: 500px" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                           th:value="${usrinfo!=null}?${usrinfo.email}" style="width: 500px" required>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleFormControlInput3" placeholder="123abcXYZ"
                           th:value="${usrinfo!=null}?${usrinfo.password}" style="width: 500px" required>
                </div>

                <button type="submit" class="btn btn-primary" th:text="${usrinfo!=null}?'Update':'Add'"></button>
            </form>
        </main>
    </div>
</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>


</div>
</body>
</html>